# <font color="purple"><h3 align="center">Pandas Merge Tutorial</h3></font>

## <font color='blue'>Basic Merge Using a Dataframe Column</font>

In [1]:
import pandas as pd
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35],
})
df1

       city  temperature
0  new york           21
1   chicago           14
2   orlando           35

In [2]:
df2 = pd.DataFrame({
    "city": ["chicago","new york","orlando"],
    "humidity": [65,68,75],
})
df2

       city  humidity
0   chicago        65
1  new york        68
2   orlando        75

In [3]:
df3 = pd.merge(df1, df2, on="city")
df3

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

## <font color='blue'>Type Of DataBase Joins</font>

<img src="db_joins.jpg" height="800", width="800">

In [6]:
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando", "baltimore"],
    "temperature": [21,14,35, 38],
})
df1

        city  temperature
0   new york           21
1    chicago           14
2    orlando           35
3  baltimore           38

In [7]:
df2 = pd.DataFrame({
    "city": ["chicago","new york","san diego"],
    "humidity": [65,68,71],
})
df2

        city  humidity
0    chicago        65
1   new york        68
2  san diego        71

In [6]:
df3=pd.merge(df1,df2,on="city",how="inner")
df3

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65

In [7]:
df3=pd.merge(df1,df2,on="city",how="outer")
df3

        city  temperature  humidity
0   new york         21.0      68.0
1    chicago         14.0      65.0
2    orlando         35.0       NaN
3  baltimore         38.0       NaN
4  san diego          NaN      71.0

In [8]:
df3=pd.merge(df1,df2,on="city",how="left")
df3

        city  temperature  humidity
0   new york           21      68.0
1    chicago           14      65.0
2    orlando           35       NaN
3  baltimore           38       NaN

In [9]:
df3=pd.merge(df1,df2,on="city",how="right")
df3

        city  temperature  humidity
0   new york         21.0        68
1    chicago         14.0        65
2  san diego          NaN        71

## <font color='blue'>indicator flag</font>

In [10]:
df3=pd.merge(df1,df2,on="city",how="outer",indicator=True)
df3

        city  temperature  humidity      _merge
0   new york         21.0      68.0        both
1    chicago         14.0      65.0        both
2    orlando         35.0       NaN   left_only
3  baltimore         38.0       NaN   left_only
4  san diego          NaN      71.0  right_only

## <font color='blue'>suffixes</font>

In [11]:
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando", "baltimore"],
    "temperature": [21,14,35,38],
    "humidity": [65,68,71, 75]
})
df1

        city  temperature  humidity
0   new york           21        65
1    chicago           14        68
2    orlando           35        71
3  baltimore           38        75

In [12]:
df2 = pd.DataFrame({
    "city": ["chicago","new york","san diego"],
    "temperature": [21,14,35],
    "humidity": [65,68,71]
})
df2

        city  temperature  humidity
0    chicago           21        65
1   new york           14        68
2  san diego           35        71

In [13]:
df3= pd.merge(df1,df2,on="city",how="outer", suffixes=('_first','_second'))
df3

,city,temperature_first,humidity_first,temperature_second,humidity_second
0,new york,21.0,65.0,14.0,68.0
1,chicago,14.0,68.0,21.0,65.0
2,orlando,35.0,71.0,NaN,NaN
3,baltimore,38.0,75.0,NaN,NaN
4,san diego,NaN,NaN,35.0,71.0

## <font color='blue'>join</font>

In [14]:
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35],
})
df1.set_index('city',inplace=True)
df1

          temperature
city
new york           21
chicago            14
orlando            35

In [15]:
df2 = pd.DataFrame({
    "city": ["chicago","new york","orlando"],
    "humidity": [65,68,75],
})
df2.set_index('city',inplace=True)
df2

          humidity
city
chicago         65
new york        68
orlando         75

In [16]:
df1.join(df2,lsuffix='_l', rsuffix='_r')

          temperature  humidity
city
new york           21        68
chicago            14        65
orlando            35        75

In [8]:
 Data2 = pd.concat(df1, df2, join='outer')

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

In [9]:
 Data2 = pd.DataFrame.join(df1,df2, on=None, how='left')

ValueError: columns overlap but no suffix specified: Index(['city'], dtype='object')

In [10]:
Data2 = pd.DataFrame.append(df1,df2)

C:\Users\KC\Anaconda3\lib\site-packages\pandas\core\frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

In [11]:
Data2

        city  humidity  temperature
0   new york       NaN         21.0
1    chicago       NaN         14.0
2    orlando       NaN         35.0
3  baltimore       NaN         38.0
0    chicago      65.0          NaN
1   new york      68.0          NaN
2  san diego      71.0          NaN

In [12]:
 Data2 = pd.merge(df1,df2, how='left')

In [13]:
Data2

        city  temperature  humidity
0   new york           21      68.0
1    chicago           14      65.0
2    orlando           35       NaN
3  baltimore           38       NaN

In [14]:
Data3 = Data2.copy()

In [15]:
df11 = pd.read_csv('Tips.csv')

FileNotFoundError: [Errno 2] File b'Tips.csv' does not exist: b'Tips.csv'